:root {
    --bodyBackgroundColor: #121212;
    --headerBackgroundColor: gray;
    --bodyTextColor: white;
    --pokemonCardBackgroundColor: #6f7c80;
    --pokemonCardTextColor: white;
    --inputSearchBorderColor: white;
    --inputSearchBackgroundColor: #121212;
    --inputSearchTextColor: white;
    --tableRowEvenBackgroundColor: rgb(49, 49, 49);
    --tableRowOddBackgroundColor: rgb(34, 34, 34);
}